POSTGRES_DB=luxstudio
POSTGRES_USER=luxstudio
POSTGRES_PASSWORD=replace-with-a-strong-password
OIDC_ISSUER_URL=http://keycloak:8080/realms/salvi
KEYCLOAK_HOSTNAME=http://keycloak:8080
KEYCLOAK_ADMIN_USERNAME=admin
KEYCLOAK_ADMIN_PASSWORD=replace-with-keycloak-admin-password
